<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="Ng.LiI">
			</class>
			<class name="Ng.DogI" />
			<class name="Ng.HoI">
			</class>
			<class name="Ng.EduI" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
